<template>
    <div>
        <div class="size">
        <h1> Boende </h1>
            <p>För er som reser en bit och behöver övernatta. Här är några tips på boenden. Bröllopsfesten kommer vara i Tidaholm vilket gör det smidigt att bo i Tidaholm men om man vill uppleva annat eller vill bo i närliggande städer finns både Hjo och Skövde.</p>

<h2>Tidaholm:</h2>
Vill ni bo i Tidaholm finns boende nära festlokalen på ”Hellidens slott och vandrarhem” (är gångavstånd). Sedan finns Hotell Emanuelssons cirka tjugo-tjugofem minuters promenad från festplatsen. Det finns även andra boenden, se länk nedan.

<h2>Direkt-länk till Hellidens slott och vandrarhem:</h2>

https://helliden.se/konferens-och-logi/vandrarhem/

<h2>Alla boenden i Tidaholm:</h2>

https://www.vastsverige.com/tidaholm/boende/boende/


<h2>Hjo:</h2>
Vill ni uppleva trästaden Hjo och turista finns goda boendemöjligheter i Hjo. Då behöver ni åka bil eller taxi från Tidaholm där bröllopsfesten äger rum till Hjo som ligger cirka 2 mil från bröllopsfestens plats.

Vill ni bo centralt i Hjo finns hotell Bellevue eller STF Villa Eira Vandrarhem 
Hjo samt många fler boenden, se länk under.

<h2>Alla boenden i Hjo:</h2>
https://www.vastsverige.com/hjo/bo-i-hjo/boihjo/


<h2>skövde:</h2>
Väljer ni att bo i Skövde finns det viss möjlighet att ta buss 303 med Västtrafik från centrala Tidaholm (cirka 20 minuters promenad från bröllopsfesten), taxi eller köra egen bil. Skövde ligger cirka 30 minuter från Tidaholm.

Vill ni bo centralt i Skövde finns Scandic Billingen och campingmöjligheter finns på Billingens stugby & camping samt många fler boenden, se länk under.

<h2>Alla boenden i Skövde:</h2>

https://www.vastsverige.com/skovde/boende/

        </div>
    </div>
</template>
<script>

export default {
    data: function() {
        return {      

            }
        },  
         methods: {

        },
         created: function(){

         }
}
</script>

<style scoped>
    h1 {
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
    }
        h2 {
        font-weight: bold;
        padding: 1rem;
    }
  .size 
  {
    width: 60rem;
   margin-left: auto;
   margin-right: auto;  
   padding: 0.2rem;
   text-align: center;
   }

  
</style>