<template>
    <div class="size">
        <h1> Klädkoden </h1>
        <div>
            <p>Absolut fint klädd </p>
            <p> ”Ful och eländig”</p>
        </div>
    </div>
</template>
<script>

export default {
    data: function() {
        return {      

            }
        },  
         methods: {

        },
         created: function(){

         }
}
</script>

<style scoped>
    h1 {
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
    }
        h2 {
        font-weight: bold;
        padding: 1rem;
    }
  .size 
  {
    width: 60rem;
   margin-left: auto;
   margin-right: auto;  
   padding: 0.2rem;
   text-align: center;
   }

  
</style>