<template>
    <div>
        <h1> Se och göra i närområdet </h1>
        <div class="size">
           <p>För er som kommer resa en bit till bröllopet och ska övernatta, här har ni lite lokala tips på vad det finns att hitta på i närområdet. Samt lite rolig fakta om närområdet. </p>
           <h2>Tidaholm</h2>
           <p>Bröllopsfesten kommer äga rum i ”Sveriges metropol Tidaholm”! En liten stad i Västergötland som är känd för mycket och lite på samma gång. Bland annat tändsticksfabriken Vulcan, Eddie Meduza, Tidaholmsanstalten, Hellidens slott och mycket mer. Här används en gedigen dialekt som kanske inte alltid är lätt att förstå. Ord som sägs är möé (mycket), bös (skräp), di (dem), etter (efter) och kjörka (kyrkan).

                Utanför staden finner du det vackra och spännande naturområdet Hökensås. Här finns det möjlighet att campa, sjöar att fiska i och vandringsleder. Hökensås beskrivs av Tidaholms turistbyrå som ”ett Norrland i miniatyr”. I denna stad kan du även paddla kanot i Tidan eller hyra en roddbåt, gå på museum eller bada.

                Tidaholm är lokalt känd för sin dialekt och humor. Tidaholms slogan beskrivs vara "Öka fartá, sista kvartá... Ti-da-holm" men Tidaholms kommun skojade till det en första april 2015 med denna text på sin hemsida kopplat till att i kommunen finns Tidaholmsanstalten:

                ” Tidaholms kommun presenterar idag sin nya slogan: Tidaholm - här får du livstid!

                Länge har Öka fart’a sista kvart’a, Ti-da-holm!, varit kommunens slogan. Men nu har ansvariga på kommunen tänkt om.

                - Vi ville ha något fängslande och i dagens stressade samhälle känns det inte rätt att prata om att öka tempot, vi tror att det är bättre att ta det lite lugnt. Man behöver inte springa runt jämt, det går lika bra att sitta inne, säger kommunalrådet”</p>
        <h2> Hjo </h2>
        <p> Den lilla staden och kommunen med den underbara slogan ”I love Hjo”. Hjo beskrivs som trästaden vid Vättern och är en av de tre trästäderna i Sverige (Hjo, Nora och Eksjö). I denna stad kan du promenera utmed Hjoåns dalgång, vandra Pilgrimsled eller Vätterled, äta glass i vackra hamnen, gå guidade turer i trästaden, besöka kulturkvarter, åka på bisonsafari i Gate, paddla kanot och SUP, spela golf på Hökensås golfklubb, spela minigolf i parken och det allra viktigaste...bada! Badmöjligheter finns både på Guldkroksbadet, i hamnen, strandpromenaden och Storebro. Har större utbud av turism och aktiviteter. </p>
        <img class="img" src="../assets/todo.jpg">
        <h2> Skövde </h2>
        <p> Staden där brudparet bor och även känd för sin slogan ”Skövde- Händelsernas centrum” eller som folk skämtaktigt säger ”Skövde stan ingen behövde”. En lite större stad i Skaraborg där det finns mycket att göra som att vandra och cykla MTB på Billingens fritidsområdet, Skogsmulleriket för barnen på Billingens fritidsområde, Laserdome, många naturreservat att vandra i, Stellas lekland, shopping och massor mer. </p>
        </div>
    </div>
</template>
<script>

export default {
    data: function() {
        return {      

            }
        },  
         methods: {

        },
         created: function(){

         }
}
</script>

<style scoped>
    .title {
      padding: 2rem;
  }
  div {
      text-align: center;
  }
    h1 {
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
    }
    h2 {
        font-weight: bold;
        padding: 8px;
    }
  .size 
  {
    width: 60rem;
   margin-left: auto;
   margin-right: auto;  
   padding: 0.2rem;
   text-align: center;
   }

  
</style>