<template>
    <div>
        <div class="size"> 
            <h1> Hitta till lokalen </h1>
                <p>Vigsel i Norra Fågelås kyrka i Hjo den 7:e augusti klockan 15.00.</p>

                <p>Hitta till kyrkan: Norra Fågelås kyrka, 544 94 Hjo </p>

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8393.930801748726!2d14.2662031!3d58.2671437!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa7168f210a59e332!2zTm9ycmEgRsOlZ2Vsw6VzIGt5cmth!5e0!3m2!1ssv!2sse!4v1598773553005!5m2!1ssv!2sse" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="seperate">
            </div>

            <h3>Hitta till bröllopsfesten: </h3> 
            <p>AGNETORP EKEBERGS GÅRD 1, 522 94 Tidaholm</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2104.3539773680627!2d13.989258216158518!3d58.16795651062984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465a577109469283%3A0xb76fb0ca76d540bc!2sAGNETORP%20EKEBERGS%20G%C3%85RD%201%2C%20522%2094%20Tidaholm!5e0!3m2!1ssv!2sse!4v1598773592211!5m2!1ssv!2sse" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="seperate">
            </div>
            <h3> Praktisk information: </h3>
            <p class="size"> Vigseln sker i Norra Fågelås i Hjo och efter det är bröllopsfesten på Ekebergs gård i Tidaholm. Det är alltså en bilfärdssträcka på cirka 25 minuter mellan kyrkan och festplatsen.</p>

            <p>Gällande bröllopsfesten (som kommer bli en kväll att minnas!) så måste lokalen stängas vid 01.30 på natten. Vi uppskattar er förståelse för detta och tack!</p>
        </div>
    </div>
</template>
<script>

export default {
    data: function() {
        return {      

            }
        },  
         methods: {

        },
         created: function(){

         }
}
</script>

<style scoped>
  div{
      text-align: center;
  }
    h1 {
    font-weight: bold;
    font-size: 18px;
  }
      h3 {
    font-weight: bold;
  }
  .size 
  {
    width: 35em;
   margin-left: auto;
   margin-right: auto;  
   padding: 1em;
   }
   p
      {
       padding: 0.2em;
   }
   .seperate
   {
       padding: 1.5em;
   }
  
</style>