<template>
    <div>
      <div>
<nav class="navbar" role="navigation" aria-label="main navigation" >
  <div class="navbar-brand">


    <a role="button" class="navbar-burger burger"  aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" @click="setUserChoice">
        | Välkommen |
      </a>

         <a class="navbar-item" @click="setUserChoice">
        | Plats och tid |
      </a>
         <a class="navbar-item" @click="setUserChoice">
        | Toastmaster |
      </a>
      <a class="navbar-item" @click="setUserChoice">
        | Klädkod |
      </a>
      <a class="navbar-item" @click="setUserChoice">
        | Se och göra i närområdet |
      </a>
            <a class="navbar-item" @click="setUserChoice">
        | Boende |
      </a>
      <a class="navbar-item" @click="setUserChoice">
        | Transport |
      </a>
      <a class="navbar-item" @click="setUserChoice">
        | Önskelista |
      </a>
      <a class="navbar-item" @click="setUserChoice">
        | Önska en låt |
      </a>
      <a class="navbar-item" @click="setUserChoice">
        | reg |
      </a>
    </div>
  </div>
</nav>

        </div>
        <app-start v-if="userChoice === '| Välkommen |'"></app-start>
        <app-ToastmadameToastmaster v-if="userChoice === '| Toastmaster |'"></app-ToastmadameToastmaster>
        <app-DoWhile v-if="userChoice === '| Se och göra i närområdet |'"></app-DoWhile>
        <app-wishlist v-if="userChoice === '| Önskelista |'"></app-wishlist>
        <app-ClothStuff v-if="userChoice === '| Klädkod |'"></app-ClothStuff>
        <app-Accomodation v-if="userChoice === '| Boende |'"></app-Accomodation>
        <app-location v-if="userChoice === '| Plats och tid |'"></app-location>
        <app-transportation v-if="userChoice === '| Transport |'"></app-transportation>
        <app-wishASong v-if="userChoice === '| Önska en låt |'"></app-wishASong>
        <app-reg v-if="userChoice === '| reg |'"></app-reg>


    </div>
</template>
<script>
    import Start from './start.vue'
    import Önskelista from './wishList.vue'
    import toastpeople from './toastpeople.vue'
    import clothstuff from './ClothStuff.vue'
    import location from './Location.vue'
    import DoWhile from './DoWhile.vue'
    import Accomodation from './Accomodation.vue'
    import transportation from './transportation.vue'
    import wishASong from './WishASong.vue'
    import reg from './reg.vue'



    export default {
        methods: { 
            setUserChoice(choice) {
                this.userChoice = choice.target.innerText
            }
        }, 
        data: function(){
            return {
                userChoice: "| Välkommen |",

            }
        },
        components: {
         'app-start': Start,
         'app-wishlist' : Önskelista,
         'app-ToastmadameToastmaster' : toastpeople,
         'app-ClothStuff' : clothstuff,
         'app-location' : location,
         'app-DoWhile' : DoWhile,
         'app-Accomodation' : Accomodation,
         'app-transportation' : transportation,
         'app-wishASong' : wishASong,
         'app-reg' : reg,
        }
        
    }
</script>
<style scoped>
  #id {
    width: 50%;
    margin: auto;
  }
    .id {
    margin: auto;
    width: 20%;
    display: grid;
    grid-template-columns: repeat(4fr);
    grid-template-rows: 4;
  }
    .navbar {
      background-color:white
    }


  img {
    max-width: 100%;
  }
  div{
         font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  
</style>