<template>
    <div class="grid">
        <div class="title">
        <h3> Startsida </h3>
        </div>
        <div class="center">
          <div class="first">
          <p>Välkomna på Sara och Henriks bröllop 7/8 2021  </p>
            <p>Hör av er om ni kommer senast 2/5. </p>
            <p>Sara 073-729 05 08 eller Henrik 070-355 19 68.</p>
            </div>
    <img class="img" src="../assets/Startsida.jpg">

            </div>
    </div>
</template>
<script>

export default {
      components: {  },
       data: function() {
        return {      
            }
        },  
         methods: {


        },
         created: function(){
         },
}
</script>

<style scoped>
    .center{
        text-align: center;
    }
    .img{
        height: 37em;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .first{
      padding: .5em;
    }
    .title {
      text-align: center;
      padding: 1em;
  }
</style>