<template>
    <div>
        <p class="size">Våra toastmasters är inga mindre än Kerstin och Peter Giocondi. Vill ni hålla tal eller spexa, kontakta toastmasters, antingen via facebooks messenger eller via:</p>
                <p class="size">Kerstin Giocondi: 076-043 75 37</p>
                <p class="size">Peter Giocondi: 073-370 60 75</p>
                <p class="size">Meddela även gärna er relation till brudparet.</p>

                <img class="img" src="../assets/Toastmasters.jpg">

                <p class="size"> Vilka är dessa två undrar då ni? Jo, det ska vi be om att få tala om!</p>

                <p class="size">Kerstin är Saras moster och Peter är Kerstins man. Dessa två är ett trevligt par som kompletterar varandra och har nära till skratt. </p>

                <p class="size">Kerstin och Peter är ett trevligt par som kompletterar varandra och har nära till skratt.</p>

                <p class="size">Kerstin är känd för att klara av små olyckor och pressade situationer galant med den positiva filosofin ”det är en världslig sak!”. Hennes döttrar beskriver henne som Pippi Långstrump med stark vilja, mod och kvarlevande barnasinne.</p>

                <p class="size">När vi frågade Kerstin och Peters två döttrar Clara och Jonna om hur de skulle beskriva Kerstin med tre ord, blev det: Påhittig, spontan och njuter gärna av enkla ting som en kopp kaffe.</p>

                <p class="size">Vid större olyckor brukar Peter rycka in med till exempel göra upp en plan för att lösa situationen eller utföra en genomgång av säkerheten. På så sätt hanterar även han pressade situationer galant då han ofta är redo för varje tänkbart scenario och är kreativ, en bra karl att ha vid sin sida om något skulle gå snett. Även utnämnd till mästare av att göra korvstroganoff (av sina döttrar).</p>

                <p class="size">När vi frågade Kerstin och Peters två döttrar Clara och Jonna om hur de skulle beskriva Peter med tre ord, blev det: Strukturerad som få, tålmodig och kreativ. </p>

        </div>
</template>
<script>

export default {
    data: function() {
        return {      

            }
        },  
         methods: {

        },
         created: function(){

         }
}
</script>

<style scoped>
    img{
        display: block;
        height: 37rem;
        width: auto;
        margin-left: auto;
        margin-right: auto;  
    }
  .size 
  {
        width: 50rem;
        margin-left: auto;
        margin-right: auto;  
        padding: 0.2rem;
        text-align: center;
   }
</style>