<template>
    <div>
        <div class="size">
        <h1> Transport </h1>
            <p> För er som behöver tips på hur ni ska transportera er från festen till eventuellt övernattningsboende om ni inte har egen bil.<p>

<h2>Taxi</h2>

<p>Taxi finns att boka från Falköping om man vill resa inom Tidaholm (då Tidaholms taxi ej kör helg och nätter). Bokas via telefonnummer: 0515-100 10. </p>
<p>Pris ligger på 770 kr för bokning av bil samt mil-avgift. Används samma bil fler gånger blir priset billigare i helhet.</p>

<p>Taxi finns även i Skövde om man har boende och därför vill boka resa till Skövde.</p>
<p>Bokas via telefonnummer: Taxi Skövde 0500-41 65 00 eller Billinge Taxi Skövde 0500-435555.</p>


<h2>Buss</h2>
<p>Buss finns endast mellan Tidaholm och Skövde på helgen. Busstiderna kan vara begränsade. Vid bussresa gäller buss nummer 303 och busstider finns på västtrafiks hemsida.</p>
        </div>
    </div>
</template>
<script>

export default {
    data: function() {
        return {      

            }
        },  
         methods: {

        },
         created: function(){

         }
}
</script>

<style scoped>
    h1 {
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
    }
        h2 {
        font-weight: bold;
        padding: 1rem;
    }
  .size 
  {
    width: 60rem;
   margin-left: auto;
   margin-right: auto;  
   padding: 0.2rem;
   text-align: center;
   }

  
</style>