<template>
    <div>
    <div class="size">
        <h1> Önskelista </h1>

        <p>Brödrost, mixer, vas eller spa...
        Allt ovan har vi redan, och ännu mer därtill.
        Så att önska oss mer saker är inget vi vill.</p>

        <p>Fina minnen och ett underbart bröllop är allt vi vill ha!
        Då blir vi väldans gla´!</p>

        <p>Om ni nu trots allt en gåva skänka vill.
        Så vore det rätt fint att få ett bidrag till...</p>

       <p>Festen vi har, bröllopsresan som vi tar, eller presentkort på Ikea för nu vi uti livet som gifta drar!</p> 

        <p>Vi önskar oss därför inte saker utan bidrag till bröllopsresa eller ett bidrag till festen via swish till Sara eller Henrik eller presentkort på Ikea om ni vill ge oss något.</p>
        <p>Detta är inget måste utan den bästa presenten vi kan få är att ni vill komma och fira vår stora dag med oss och skapa fina minnen!</p>

    </div>
    </div>
</template>
<script>

export default {
    data: function() {
        return {      

            }
        },  
         methods: {

        },
         created: function(){

         }
}
</script>

<style scoped>
    h1 {
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
    }
  .size 
  {
    width: 40rem;
   margin-left: auto;
   margin-right: auto;  
   padding: 0.2rem;
   text-align: center;
   }
   p
   {
       padding: 1rem;
   }
  
</style>