<template>
    <div class="size">
        <h1> Önska en låt! </h1>
    <div>

        <p>Det finns inget härligare än en riktigt go låt att dansa loss till, fuldansa till, skratta till och njuta av. Så önska gärna en låt! Vi lägger till den i vår ultimata Spotifylista för dansgolvet.</p>

        <p>Skicka låtönskningen till mobilnummer Sara 073-729 05 08 eller Henrik 070-355 19 68 (OBS! En låtönskning var).</p>

        <p>”Why be moody when you can shake your booty?”</p>


    </div>
    <img class="img" src="../assets/wishasong.jpg">

    </div>
</template>
<script>

export default {
    data: function() {
        return {      

            }
        },  
         methods: {

        },
         created: function(){

         }
}
</script>

<style scoped>
    h1 {
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
    }
        h2 {
        font-weight: bold;
        padding: 1rem;
    }
  .size 
  {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;  
    padding: 0.2rem;
    text-align: center;
  }  .size 
   p
   {
       padding: 1rem;
   }
  
  
</style>